config wifi-device 'radio0'
	option type 'mac80211'
	option hwmode '11g'
	option path 'soc/3400000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0'
	option htmode 'HT20'
	option channel 'auto'

config wifi-iface
	option device     radio0
	option network    wan
	option mode       sta
	option bssid      replace-bssid
	option encryption replace-sec
	option key        replace-passwd
